[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pynvim = "*"
flake8 = "*"
yapf = "*"
jedi = "*"

[packages]
jaconv = "*"
pandas = "*"

[requires]
python_version = "3.7"
